<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Built with Polymer<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "normalize", "lander" %>
    <%= javascript_include_tag "bower_components/platform/platform" %>
    <link rel="import" href="/bower_components/core-scroll-header-panel/core-header-panel.html">
    <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="/components/ui-search/ui-search.html">
    <link rel="import" href="/components/ui-search-results/ui-search-results.html">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500|Source+Code+Pro:400,500,700">
  </head>
  
  <body fullbleed layout vertical>
    <div id="top-border"></div>
    <core-scroll-header-panel flex>

      <core-toolbar>
        <div id="masthead" layout horizontal>
          <div>
            <a href="/" class="logo">Built with <%= image_tag('polymer2.svg', :width => '36') %></a>
          </div>
          <div flex>
            <nav>
              <ul>
                <li><%= link_to 'Browse', '/elements.html' %></li>
                <li><a href="http://polymer-project.org">Learn</a></li>
                <li><%= link_to 'Submit', '/submit.html' %></li>
                <li><iframe id="star-button" src="http://ghbtns.com/github-btn.html?user=divshot&repo=built-with-polymer&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe></li>
              </ul>
            </nav>
          </div>
          <div>
            <ui-search json="/entries.json"></ui-search>
          </div>
        </div>
      </core-toolbar>
      
      <div content>
        <div layout horizontal>
          <div id="main" role="main" flex>
            <div id="content">
              <%= yield %>
            </div>
            <ui-search-results></ui-search-results>
          </div>
          <aside>
            <section>
              <h3>Welcome</h3>
              <p>Built with Polymer is a curated collection of web apps and websites using Polymer.</p>
              <p><a href="https://www.polymer-project.org/docs/start/everything.html" target="_blank">What's Polymer?</a></p>
            </section>
            <section>
              <h3>Newsletter</h3>
              <p>Get web component articles and inspiration delivered straight to your inbox. Sign up for our newsletter:</p>
              <form action="/signup" method="post">
                <input type="text" name="email" placeholder="Email address">
              </form>
            </section>
            <section>
              <h3><%= image_tag 'chrome.svg', :width => 20, :style => "float: left; margin: 0 8px 0 0" %> Extension</h3>
              <p>See what it's built with. Use the <a href="https://chrome.google.com/webstore/detail/aaifiopbmiecbpladpjaoemohhfjcbdk/" target="_blank">Polymer Ready</a> extension by François Beaufort.</p>
            </section>
            <section>
              <h3><%= image_tag 'github.svg', :width => 20, :style => "float: left; margin: 0 8px 0 0" %> Open Source</h3>
              <p>Built with Polymer is open source on <a href="https://www.github.com/divshot/built-with-polymer" target="_blank">GitHub</a>. Send a pull request to share your project or <%= link_to 'use our submit form.', '/submit.html' %></p>
            </section>
            <section>
              <h3>Popular Elements</h3>
              <% elements = blog.tags.sort_by { |k,s| s.join.length }.reverse.take(10) %>
              <ul>
              <% elements.each do |tag, articles| %>
                <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
              <% end %>
                <li class="divider"></li>
                <li><%= link_to 'View More', '/elements.html' %></li>
              </ul>
            </section>
          </aside>
        </div>
        <footer>
          <p>&copy; <%= Time.now.year %> Built with Polymer &bull; Curated by <a href="http://twitter.com/jakejohnson">Jake Johnson</a> &bull; Hosted by <a href="http://www.divshot.com" title="Static Web Hosting for Developers">Divshot</a></p>
        </footer>
      </div>

    </core-scroll-header-panel>
    <script type="text/javascript">
      var disqus_shortname = 'builtwithpolymer';
      (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    <%= javascript_include_tag "lander" %>
  </body>
</html>