<% wrap_layout :layout do %>
  <article>
    <div layout center horizontal class="title">
      <h1 flex><%= link_to current_article.title, current_article.data.url %></h1>
      <span class="date"><%= current_article.date.strftime("%B #{current_article.date.day.ordinalize}") %></span>
      <span class="divider">&bull;</span>
      <span class="comments"><%= link_to 'Comments', current_article.url + "#disqus_thread" %></span>
    </div>
    <%= yield %>
    <div class="view-website">
      <%= link_to "View Website &raquo;", current_article.data.url, :class => "btn" %>
    </div>
    <div class="elements">
      <ul>
      <% current_article.tags.each do |tag| %>
        <li><%= link_to "#{tag}", tag_path(tag) %></li>
      <% end %>
      </ul>
    </div><br>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'builtwithpolymer';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </article>
<% end %>