---
pageable: true
per_page: 10
---
<% set_meta_tags title: "Sites Using #{tagname}" %>
<% set_meta_tags description: "Collection of Polymer web apps and websites using #{tagname}." %>
<h1>Sites Using &lt;<%= tagname %>&gt;</h1>
<p>A collection of Polymer web apps and websites using &lt;<%= tagname %>&gt;.</p>

<ul class="post-list">
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <div class="horizontal layout">
        <div class="flex">
          <%= link_to article.title, article %>
        </div>
        <div>
          <span class="date"><%= article.date.strftime('%b %e') %></span>
        </div>
      </div>
      <div class="description">
        <%= article.body %>
      </div>
    </li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>