---
pageable: true
per_page: 10
---
<h1>Sites Using &lt;<%= tagname %>&gt;</h1>
<p>A collection of Polymer web apps and websites using &lt;<%= tagname %>&gt;.</p>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>